<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/pageable-articles.js}"></script>
    <script th:src="@{/js/pagination.js}"></script>
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.js}"></script>
    <title>Europe Resorts</title>
</head>
<body id="europe">
<header th:insert="~{fragment :: header}"></header>
<main>
    <div class="head">
        <h1>Europe Resorts</h1>
        <p>
            Europe is known for its rich skiing history, diverse culture,
            and vast ski areas. Some of the most popular ski resorts in
            Europe include Chamonix in France, St. Anton in Austria, and
            Zermatt in Switzerland. Many ski resorts in Europe are located
            in charming alpine villages, offering visitors a unique
            combination of skiing and culture.
        </p>

        <th:block th:insert="~{fragment :: search-form}"></th:block>
    </div>
    <section>
        <h2>Ski Resorts</h2>
        <div class="card-container" id="cards">

        </div>
    </section>
    <th:block th:insert="~{fragment :: pagination}"></th:block>
    <footer>
        <p>&copy; 2023 My Ski Resort. All Rights Reserved.</p>
    </footer>
</main>
</body>
</html>




