<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script th:src="@{/js/script.js}"></script>
    <title>Reset Password</title>
</head>
<body id="reset-password">
<header th:insert="~{fragment :: header}"></header>
<main>
    <div class="head">
        <h1>Reset your password</h1>
    </div>
    <section>
        <div class="review-container">
        <form th:action="@{/reset}" th:method="POST">
            <label for="email">Enter your email</label>
            <input type="email" id="email" name="email" placeholder="Email address" required>
            <button type="submit">Send</button>
        </form>
        </div>
    </section>
</main>
</body>
</html>